
:root {
  --primary: #1aac83;
  --error: red;
}
body {
  /* background-color: rgb(247, 234, 211); */
  background: rgb(34,34,34);
  background: linear-gradient(77deg, rgba(34,34,34,1) 0%, rgba(32,88,33,1) 99%);
  margin: 0;
  font-family:'Cambria';
  height: 100vh;
}
header {
  /* background: rgba(5, 5, 5, 0.299); */
  background:  rgba(15, 16, 16, 0.75);
  border: none;
  margin: none;
  /* border: 1.5px solid black;
  border-width: medium; */
}
header .container {
  max-width: 1400px;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-width: medium;
}
header a {
  color: white;
  text-decoration:solid;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
  margin-left: 0;
}

.pages{
  max-width: 100%;
  margin: 0;
}

/* homepage */
.home {
  display:block;
  color: black;  

}
.home button{
  max-width: 50%;
}

.def-p{
  font-size: small;
}
/* Button container for add a new problem and run submit buttons */

.button-container {
  display: flex;
  justify-content:right;
}

.button-link {
  padding: 10px 20px;
  background-color: #070c12;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button-link:hover {
  background-color: #3f4041;
  color: #fff;
  text-decoration: none;
}


.problem-details {
  /* background: rgb(237, 238, 238); */
  background:  rgba(130, 201, 130, 0.5);
  /* background-color: rgba(81, 178, 92, 0.745); */
  color: black;
  border: 5px solid black;
  border-radius: 5px;
  border-color: black;
  border-width: medium;
  margin: 7px 0 0 0;
  padding: 10px;
  position: relative;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

}
.problem-details h4 {
  margin: 0 0 5px 0;
  font-size: 1.3em;
  color: black;
  font-family:'Arial';
  text-decoration: none;
  text-transform: none;
  text-decoration-skip: none;
  padding-left: 5px;
  margin-left: 5px;
  padding-bottom: 5px;
}

.head{
  font-size: 1em;
  color: black;
  text-decoration: none;
  text-transform: none;
  padding-left: 5px;
  /* padding-bottom: 5px; */
  margin-left: 5px;
}
.problem-details p {
  margin: 0;
  font-size: 1.0em;
  color: black;
  text-decoration: none;
  padding-left: 5px;
  margin-left: 5px;
  padding-bottom: 7px;
}
.problem-details span {
  position:absolute;
  top: 30px;
  right: 15px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
  margin-left: 5px;

}


/* CSS for ProblemPage component  */

.problem-page {
  /* background-color:  rgb(247, 234, 211); */
  color: #000;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y:hidden;
  overflow-wrap: normal;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120%;
}

.problem-section {
  background-color: white; 
  color: black; 
  padding: 20px;
  border-radius: 5px;
  border-color: black;
  width: 40%;
  border-width: medium;
  border-style: solid;
 
}

.problem-section h2 {
  font-size: 30px;
}

.tab-content {
  margin-top: 20px;
}

.tab-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

/*  active tab and button styles */
.tab-button {
  background-color: #000;
  color:black;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tab-button:hover {
  background-color: #fff;
  color: #174f19bd;
  text-decoration: none;
}

.active {
  background-color: #fff;
  color: #000;
}

/* links to submissions and leaderboard */
.link-button {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.link-button:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

/* ProblemForm.css */
.tab-buttons {
  display: flex;
}

.tab-button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.tab-button.active {
  border-color: #174f19bd; /* Color for active tab */
}
.create {
  margin: 0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: 0;
  color: rgba(255, 255, 255, 0.897);
}

.create h3 {
  font-size: 30px;
  margin: 0 0 20px;
  font-family: 'Arial';
  color:white;
  text-justify: distribute;
}

.create label {
  font-weight: bold;
  font-size: 1.2em;
  font-family: 'Arial';
  padding: 1.6px;
}

.create input,
.create select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #0b0b0b;
  border-radius: 5px;
  border-style: solid;
  border-width: 1.7px;
  background-color: rgb(195, 226, 207,0.9);
}


.create input.error,
.create select.error {
  border-color: #f44336; /* Red border for error fields */
}

.create p {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.create button {
  /* background-color:  rgba(8, 154, 168, 0.741); */
  /* background:  rgba(16, 132, 65, 0.6); */
  background-color: black;
  color:white;
  padding: 10px 20px;
  border: 0.2px solid white;
  /* border-width: medium; */
  font-family: 'Arial';
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.create button:hover {
  background-color: rgb(34, 51, 45);
}


.problem-section {
  background-color: #fff;
  color: #000;
  width: 40%;
}

.problem-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.problem-section p {
  font-size: 16px;
  margin: 0 0 10px;
}

.compile{
  padding: 10px;
  border: 1px solid black;
  border-width: medium;
  /* background-color:  rgba(81, 178, 92, 0.745); */
  background:  rgba(130, 201, 130, 0.5);
  color: white;
  
}

.problem-section,
.submission-section {
  display: flex;
  flex-direction: column;
}


/* the first login page*/


label, input {
  display: block;
  padding-bottom: 10px;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid black;
  border-width: medium;
  border-radius: 4px;
  box-sizing:border-box;
  text-align: justify;
  font-size: 18px;
}
h3 {
  text-align: center;
  font-size: 1.5em;
  font-family: Roboto;
  font-size: 18px;
}
p a {
  color: white;

}
form button {
  background:black;
  border: 0;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  width: 100%;
  padding: 10px;
  font-family: Roboto;
  border-radius: 4px;
  border-color: white;
  cursor: pointer;
  margin-left: 2px;
  margin-top: 10px;
}

/* Errors */
div.error {
  padding: 10px;
  background: white;
  border: 1px solid rgb(114, 4, 4);
  color:rgb(114, 4, 4) ;
  border-radius: 3px;
  margin: 20px 0;
}
input.error {
  border: 1px solid rgb(114, 4, 4);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px; 
  color: white;
}
nav a {
  font-size: 1em;
  justify-content: flex-end;
  margin-right: 20px; 
  color: white;
  border: 2px solid white;
  padding: 4px;
}
nav button {
  justify-content: flex-end;
  background: #fff;
  color: black;
  border: 2px solid ;
  padding: 6px 10px;
  border-radius: 4px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  margin-right: 30px; 
}
.logout {
  position: absolute;
  top: 35px; 
  right: 0;
  display: flex;
  align-items: center;
}

.logout span {
  margin-right: 10px;
}

/* auth forms */
/* the main homepage container */
form.signup, form.login {
  color:white;
  text-emphasis: bold;
  max-width: 400px;
  font-size: 1.2em;
  margin: 85px auto;
  padding: 15px;
  background:  rgba(15, 16, 16, 0.75);
  border: 2px solid black;
  border-width: medium;
}

.login h3{
  font-size: 1.3em;
}

/* Compiler Buttons */
.button-container {
  display: flex;
  justify-content: space-between; 
  margin: 10px;
}

.small-button {
  padding: 14px;
  background-color: #070c12;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 10px;
}

.small-button:hover {
  background-color: #3f4041;
  color: #fff;
  text-decoration: none;
}

.compile {
  font-size: 18px; 
  margin: 0;
}

div.output {
  padding: 5px;
  background: #ffefef;
  border: 1px solid green;
  color: green;
  border-radius: 2px;
  margin: 5px 0;
}

.error-popup {
  position: fixed;
  top: calc(100px + 0.5cm);
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  width: 50px;
  /* max-width: 80%; */
}

.problems button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family:Roboto;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  transition: --pr 0.3s;
}

.problems button:hover {
  background-color: var(--primary);
  color: #fff;
}

/* Submissions */
.submissions {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.submission-page h2{
  color: white;
  text-align: center;
  font-size: 2em;
}
.submissions-table {
  margin: 20px auto;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.submissions-table th {
  background-color: white;
  color: black;
  padding: 10px;
  font-weight: bold;
  border: 2px solid black;
}

.submissions-table td {
  padding: 10px;
  border: 2px solid black;
  color: white;
  font-size: 1.2em;
  
}

.submissions p {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  color: var(--error);
}
